* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #1a7d99 0%, #000851 100%);
        /* ADICIONE ESTAS PROPRIEDADES */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.board {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
    background: rgba(255, 255, 255, 0.3)!important;
}

/* Grid cells */
.cell{
    
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Cursor de não permitido quando a célula já estiver marcada */
.cell.x, .cell.circle{
    cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

/* X  */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: rgb(255, 255, 255);
    position: absolute;
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}


/* Circulo  */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after
{
    content: "";
    height: calc(70px * 0.9);
    width: calc(70px * 0.9);
    position: absolute;
    border-radius: 50%;
    border: 10px solid white; /* controla a espessura do círculo */
    background: transparent

}



/* Mensagem de vitória */
.winning-message {
    display: none;
    position:  fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    
}

.winning-message button {
    font-size: 2.5rem;
    background-color: rgb(85, 130, 221);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}

.winning-message-button:hover {
    color: rgb(1, 132, 184);
    background-color: rgb(255, 255, 255);
}

.winning-message-text {
    color: white;
    font-size: 5rem;

}

.show-winning-message {
    display: flex;
}

header {

  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: -150;
  font-size: 2.2em;
  font-weight: 700;
}

.niveis {
  padding: 20px 0;
  text-align: center;
}

.niveis button {
    /* Alinhamento e Tamanho */
  display: block; /* Garante que cada botão ocupe uma linha inteira */
  margin: 10px auto; /* Centraliza os botões e adiciona espaço vertical entre eles */
  width: 150px; /* Define uma largura fixa para os botões */
  padding: 15px 30px; /* Adiciona espaço interno */
  font-size: 2rem; /* Aumenta o tamanho da fonte */
  font-size: bold; /* Deixa o texto em negrito */

  /* Aparência do Botão */
  background-color: #3498db; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branca */
  border: none;  /* Remove a borda padrão do navegador */
  border-radius: 8px; /* Adiciona bordas arredondadas */
  cursor: pointer; /* Muda o cursor do mouse para uma mãozinha */

  /* Efeito de Transição */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave para efeitos */
}

/* Efeito ao passar o mouse por cima (hover) */
.niveis button:hover{
    background-color: #2980b9; /* Escurece a cor de fundo */
    transform: translateY(-2px); /* Move o botão 2px para cima */  
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adiciona uma sombra para o efeito de "elevação" */
}

/* Efeito ao clicar no botão (active) */
.niveis button:active {
    transform: translateY(0); /* Devolve o botão à posição original */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Diminui a sombra */ 
}

.niveis {
    font-size: 2.5rem;
    background-color: rgb(16, 29, 53);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}

/* Botão de Sair */
#botao-sair button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000; /* Garante que o botão fique ACIMA da tela inicial */
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

#botao-sair button:hover {
    color: #424040;
}


/* Estilo para a tela inicial */
#tela-inicial {
  display: flex; /* Para centralizar o conteúdo */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed; /* Para cobrir toda a tela */
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  
}

#tela-inicial h1 {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 4.5em;
  margin-bottom: 20px;
  margin-top: -10px;
}

#tela-inicial h2 {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 150px;
}


/* Oculta a tela do jogo no início */
#tela-jogo {
  display: none;
  position: relative;
}


/* Pontuação de vitorias */
/* Posicione o placar no topo da tela */
.pontuacao {
  position: absolute; /* Define o posicionamento absoluto */
  top: -40px; /* Distância do topo da tela. Ajuste conforme sua necessidade */
  left: 50%; /* Move o elemento 50% para a direita */
  transform: translateX(-50%); /* Ajusta para centralizar horizontalmente */
  display: flex; /* Mude para flex para facilitar o alinhamento interno */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 300px;
  font-family: 'Quicksand', sans-serif;
}

.jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jogador .nome,
.jogador .pontos {
  padding: 50px;
  /* Remova as linhas a seguir */
  /* top: 20px; */
  /* left: 60%; */
  /* transform: translateX(-50%); */
  text-align: center;
  font-size: 1.5rem;
}

.jogador .nome{
    font-weight: bold;
    border-bottom: 1px solid #ddd; 
}

.nome__jogador__um {
    color: #009578
}

.nome__jogador__dois {
    color: #4c01fa
}


.jogador .pontos {
    font-size: 2em;
    
}

#pontuacao-container {
    display: none;
}
